<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' media='screen'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <div id="header" class="page-header">
      <h1><a href="#">Preguntados </a><small>Administrador</small></h1>
    </div>
      
    <div class="container">
    <div id="menu" class="list-group">
      <a href="/categories" class="list-group-item">Categorías</a>
      <a href="/questions" class="list-group-item">Preguntas</a>
      <a href="/valquestions" class="list-group-item">Preguntas por validar</a>
    </div>
    </div>
    <script src="/js/jquery-2.0.2.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

